.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ---------------------------*/

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Encode+Sans');
/* CSS Document */

body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul, li {
  font-family: 'Encode Sans', sans-serif;
  font-size: 14pt;
  color: #333;
  font-weight: 400;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 100;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  box-sizing: border-box;
  width: 100%;
}

#maincontent section {
  width: 100%;
}

#footer {
  background-color: #444;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

header {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
  box-sizing: border-box;
}

header h1 {
  margin: auto;
}

header h1 a {
  font-size: 12pt;
  font-weight: 100;
  line-height: 79px;
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase;
}

footer {
  background-color: #444;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}



#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #006cc9;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

#map-container {
  display: none;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #007dbb;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px 0 10px;
  padding: 0 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 25px;
  text-align: left;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #ae6500;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #a56900;
  border-bottom: 3px solid #eee;
  color: white;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  height: 400px;
  background: blue none repeat scroll 0 0;
  position: relative;
  right: 0;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#restaurant-name {
  color: #9c6300;
  font-family: 'Encode Sans', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  padding: 0 20px;
}

#reviews-container h3 {
  color: #9c6300;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* Button showMap */

#showMap {
  width: 100%;
  height: 60px;
  font-size: 170%;
  background-color: #7e4f00;
  color: #fff;
}

.button_marks_favorite {
  background-color: white;
  border: none;
  font-size: 40px;
  width: 100%;
}

.favorite {
  color: red;
}

.no_favorite {
  color: darkgray;
}

#review-form {
  width: 300px;
  height: 300px;
}

#review-form h3 {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #7e4f00;
}

#review-form input, #review-form textarea {
  margin: 10px;
  border: 1px solid #7e4f00;
  padding: 10px;
}

#review-form input {
  width: 100%;
}

#review-form textarea {
  width: 100%;
}

#review-form label {
  width: 100%;
  margin-left: 10px;
}

#review-form select {
  height: 40px;
  width: 40%;
  margin-left: 10px;
  border: 1px solid #7e4f00;
}

#reviews-header {
  font-family: Arial, Helvetica, sans-serif;
  color: #7e4f00;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 130%;
}

#submit-review {
  background-color: #7e4f00;
  color: white;
  font-size: 110%;
  text-transform: uppercase;
  padding: 3px;
  width: 50% !important;
}

.reviews_pending:before {
  content: 'pending';
  color: red;
}